@model YOUTUBEiMPROVED.Models.YoutubeResults

@int j = 0;
@for(int i = 0; i < 2; i++)
{

    <div id="mainVideoDiv@(i)" class="well" style="z-index: @(i*-1); position:absolute; width: 670px; height: 550px; top: 20px; left:5px;">

    <div id="videoTitle@(i)" class="well" style="position: absolute; left:30px;"></div>

    <div id="videoDiv@(i)" class="well"> Loading....</div> <!-- Set style in createNewPlayer in YouTubeHandler.js since it overrides this -->

    <div id="v-slider@(i)" class="v-slider" style="position:absolute; right:7px; top:85px; height:360px; width:20px;"></div>

    <div id="h-slider@(i)" class="h-slider" style="position:absolute; left:30px; right:0px; top:460px; height:20px; width:640px"></div>


    <div class="well" style="position:absolute; left:30px; top:495px; width:375px;">
        <button onClick="buttonPrevClicked()" class="btn btn-large"><i class="icon-step-backward"></i> Prev</button>
        <button onClick="buttonStopClicked()" class="btn btn-large"><i class="icon-stop"></i> Stop</button>
        <button onClick="buttonPauseClicked()" class="btn btn-large"><i class="icon-pause"></i> Pause</button>
        <button onClick="buttonPlayClicked()" class="btn btn-large"><i class="icon-play"></i> Play</button>
        <button onClick="buttonNextClicked()" class="btn btn-large"><i class="icon-step-forward"></i> Next</button>
    </div>

    </div>
}

<div id="accordion" style="position:absolute; top: 650px; width: 670px; height: @(Model.titles.Count*50)px">
    @for (int i = 0; i < Model.thumbnailURLs.Count; i++)
    {
    <div class="group" style="zoom: 1;">
        <h3 class="well">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(i+1) @Model.titles[i]</h3>
        <div>
            <div>
                <img src="@Model.thumbnailURLs[i]"/>
                @Model.descriptions[i]
            </div>
        </div>
    </div>
    }
</div>

<script src="~/Scripts/jquery-1.9.1.min.js"> </script>
<script src="~/jquery-bootstrap/assets/js/bootstrap.min.js"></script>
<script src="~/jquery-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="~/Scripts/YouTubeHandler.js"></script>
<script src="~/Scripts/swfobject.js"></script>
<script src="~/Scripts/JQueryStuff.js"></script>
<script src="~/Scripts/PlayerButtonFunctionality.js"></script>

<script type="text/javascript">
    $('#accordion').accordion({
    header: "> div > h3",
    collapsible: true,
    active: false,
    heightStyle: "content"
    })
    .sortable({
    axis: "y",
    handle: "h3",
    stop: function (event, ui) {
        // IE doesn't register the blur when sorting
        // so trigger focusout handlers to remove .ui-state-focus
        console.log("stopped draggin yo");

        ui.item.children("h3").triggerHandler("focusout");
    }
});
</script>



@for(int i = 0; i < Model.videoIDs.Count; i++)
{
    <script type="text/javascript">
        videoList.push("@Model.videoIDs[i]");
        titleList.push("@Model.titles[i]");
    </script>
}

<script type="text/javascript">
    createNewPlayer(0);
    createNewPlayer(1);

    hidePlayer(1);
    //document.getElementById("mainVideoDiv1").style.left = "2000px";
    document.getElementById("videoTitle0").innerHTML = titleList[0];
</script>
		
		